/* Import CDN fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* Import local fonts */
@font-face {
  font-family: "MS Sans Serif";
  src: url("../assets/fonts/Microsoft Sans Serif.ttf") format("ttf");
}

html {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Titillium Web";
}

body {
  padding: 0;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  margin: 0;
  font-size: 1.6em;
}

h2 {
  margin: 0;
}

table {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 50%;
  border-collapse: separate;
}

tr {
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 1em;
}

tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

tbody tr:nth-child(even) {
  background-color: white;
}

td {
  border-right: 0.1em solid grey;
  /* border-left: 0.1em solid grey; */
  margin: 0;
}

h3, h4 {
  margin:0;
}

input {
  width: 1.5em;
}

input.large {
  width: auto;
  height: auto;
}

.fatFinger { /* for fat fingers */
  width: 2em;
  height: 2em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.table {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 50%;
}

/* Currently no polyfill for scroll snapping */
#scroll-container {
  height: 100vh;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  white-space: nowrap;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-points-x: repeat(100vw);
  scroll-snap-points-x: repeat(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Snap Points */
.slide {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  /* This attribute is not supported by any browser atm */ scroll-snap-stop: always;
}

/* Contents of the slide */
.content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 85vh;
  width: 85vw;
  margin: auto;
  background-color: white;
  border: black solid 0.3rem;
  padding: 1em;
  border-radius: 2rem;
  border-bottom-right-radius: 0em;
  overflow: hidden;
}

/* Page 1 */
#settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/vaporwave.jpg");
  background-position: center;
  /* font-family: "SimSun" !important; */
}

/* Page 2 */
#event {
  background-repeat: repeat;
  background-size: contain;
  background-image: url('../assets/MovingStarfield.gif');
}

/* Page 3 */
#sandstorm {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url("../assets/sandstorm.jpg");
}

/* Page 4 */
#teleop {
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../assets/fuzz.gif");
}

#showDataTable {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#eventcode {
  margin: 0.3em;
}

.parallax-window {
  background: transparent;
}

/* Flex templates */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-justify-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-shrink {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  width: 100vw;
  max-height: 15vh;
  min-height: 10vh;
  position: fixed;
  justify-self: center;
}

#left-nav-arrow {
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 12vh;
}

#right-nav-arrow {
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 12vh;
}

.team-number {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.edgeNone {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 1em;

  border-style: solid;
  border-radius: 100em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.edgeRight {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 1em;

  border-style: solid;
  border-radius: 100em;
  border-bottom-right-radius: 0em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.edgeLeft {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 1em;

  border-style: solid;
  border-radius: 100em;
  border-bottom-left-radius: 0em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.matchSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.scoutSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

span {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.meme {

}

#meme {

}

button:focus {
  outline: none;
}

button.win95 {

}

.title95 {

}

.title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.title-img {
  max-height: 15vh;
  height: auto;

}

/* Reset (circle fill) animation */
@-webkit-keyframes resetCircle {
  0% {

  }
  100% {

  }
}

@keyframes resetCircle {
  0% {

  }
  100% {

  }
}
