@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Titillium Web";
  /* background-image: url('../assets/MovingStarfield.gif');
  background-repeat: repeat;
  background-size: contain; */
}

body {
  padding: 0;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  margin: 0;
}

h2 {
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
}

/* Currently no polyfill for scroll snapping */
#scroll-container {
  height: 100vh;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  white-space: nowrap;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-points-x: repeat(100vw);
  scroll-snap-points-x: repeat(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Snap Points */
.slide {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  /* This attribute is not supported by any browser atm */ scroll-snap-stop: always;
}

/* Contents of the slide */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 85vh;
  width: 85vw;
  margin: auto;
  background-color: white;
  border: black solid 0.3rem;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /* justify-content: center; */
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Page 1 */
#settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/vaporwave.jpg");
  background-position: center;
}

/* Page 2 */
#event {
  background-repeat: repeat;
  background-size: contain;
  background-image: url('../assets/MovingStarfield.gif');
}

/* Page 3 */
#sandstorm {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url("../assets/sandstorm.jpg");
}

/* Page 4 */
#teleop {
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../assets/fuzz.gif");
}

.parallax-window {
  background: transparent;
}

.title {
  font-family: "Titillium Web";
  text-align: center;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-select {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* border-right-color: grey;
  border-right-style: solid;
  border-right-width: 0.1em;
  margin-right: 0.35em; */
}

.scout-select {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* border-left-color: grey;
  border-left-style: solid;
  border-left-width: 0.1em;
  margin-left: 0.35em; */
}

#scouts {
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0.25em;

}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  width: 100vw;
  max-height: 15vh;
  min-height: 10vh;
  position: fixed;
  justify-self: center;
}

#left-nav-arrow {
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 12vh;
}

#right-nav-arrow {
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 12vh;
}



#sandstormLogo {
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.team-number {
  justify-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
