/* Import CDN fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* Import local fonts */
@font-face {
  font-family: "MS Sans Serif";
  src: url("../assets/fonts/Microsoft Sans Serif.ttf") format("ttf");
}

html {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Titillium Web";

  background-repeat: repeat;
  background-size: contain;
  background-image: url('../assets/MovingStarfield.gif');
  background-attachment: fixed;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


div {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.6em;
}

h2 {
  margin: 0;
}

table {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 50%;
  border-collapse: separate;
}

tr {
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 1em;
}

tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

tbody tr:nth-child(even) {
  background-color: white;
}

td {
  margin: 0;
  border-style: solid;
  border-spacing: 0.3em;
  border-radius: 0.3em;
  padding: 0.3em;
  font-family: "Titillium Web";

}

thead {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  background-attachment: scroll;
  background-origin: content-box;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  font-style: bold;
  font-size: 1.3em;
}

h3, h4 {
  margin:0;
}

input {
  width: 1.5em;
}

input.large {
  width: auto;
  height: auto;
}

input[type="number"] {
  text-align: center;
}

.fatFinger { /* for fat fingers */
  width: 2.5em;
  height: 2.5em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.table {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 50vh;
}

/* Currently no polyfill for scroll snapping */
#scroll-container {
  height: 100vh;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  white-space: nowrap;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-points-x: repeat(100vw);
  scroll-snap-points-x: repeat(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Snap Points */
.slide {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  z-index: 2;
  /* This attribute is not supported by any browser atm */ scroll-snap-stop: always;
}

/* Contents of the slide */
.content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 85vh;
  width: 85vw;
  margin: auto;
  background-color: white;
  border: black solid 0.3rem;
  padding: 1em;
  border-radius: 2rem;
  border-bottom-right-radius: 0em;
  overflow: hidden;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Page 1 */
#settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/vaporwave.jpg");
  background-position: center center;

  /* Windows 95 */
  font-family: "MS Sans Serif" !important;
}

/* Page 2 */
#event {
  /* background-repeat: repeat;
  background-size: contain;
  background-image: url('../assets/MovingStarfield.gif'); */
}

/* Page 3 */
#sandstorm {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url("../assets/sandstorm.jpg"); */
}

/* Page 4 */
#teleop {
  /* background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../assets/fuzz.gif"); */
}

#showDataTable {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#eventcode {
  margin: 0.3em;
}

.parallax-window {
  background: transparent;
}

/* Flex templates */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-justify-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-shrink {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
  max-height: 15vh;
  min-height: 10vh;
  position: fixed;
}

#left-nav-arrow {
  height: 12vh;
}

#right-nav-arrow {
  height: 12vh;
}

.team-number {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.edgeNone {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 0.8em;

  border-style: solid;
  border-radius: 100em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.edgeRight {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 0.8em;

  border-style: solid;
  border-radius: 100em;
  border-bottom-right-radius: 0em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.edgeLeft {
  background-color: lightgray;
  font-size: 1.1em;

  padding: 0.8em;

  border-style: solid;
  border-radius: 100em;
  border-bottom-left-radius: 0em;
  border-width: medium;
  border-color: black;

  text-align: center;
}

.matchSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scoutSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.up {
  background-color: rgba(120,0,0,0.5);
}

.down {
  background-color: rgba(0,0,120,0.5);
}


.teamnumberbox {
  overflow: hidden;
  padding: 1em;
  display: flex;
  border: 1px solid red;
  background: white;
  height: 20px;
  width:80px;
}
.box2{
  overflow: hidden;
  padding: 1em;
  display: flex;
  height: 20px;
  width:80px;
}

}



button.up, button.down {
  font-size: 2em;
  padding: 0.1em;
}

button:focus {
  outline: none;
}

/* Windows 95 style button */
button.win95 {

}

/* Windows 95 box */
.box95 {
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  border-radius: 0;
}

/* Windows 95 title bar */
.title95 {

}

/* For the top row of each page */
.title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* For the title images */
#title-img {
  max-height: 12vh;
  height: auto;
  -webkit-transition: all ease 0.5;
  transition: all ease 0.5;
}

/* hatch scores */
.hatch {
  /* width: 3em;
  height: 3em; */
  font-size: 2em;
  font-weight: bold;
  z-index: 5;

  background-color: rgba(0,0,0,0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/hatch120.svg');

  border: none;

  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* cargo scores */
.cargo {
  /* width: 3em;
  height: 3em; */
  font-size: 2em;
  font-weight: bold;
  z-index: 5;

  background-color: rgba(0,0,0,0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/cargo120.svg');

  border: none;

  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.rocket {
  background-image: url('../assets/rocket.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.ship {
  background-image: url('../assets/cargo-ship2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.retrieved {

}

.dropped {

}

.hab0 {
  border-top: black 2px;
  background-color: #EF7822;
}

.hab1 {
  border-top: black 2px;
  height: 100px;
  background-color: #EF7822;
}

.hab2 {
  border-top: black 2px;
  height: 150px;
  background-color: #EF7822;
}

.hab3 {
  border-top: black 2px;
  height: 200px;
  background-color: #EF7822;
}

.hab-center {
  padding: 0;
  margin: 0;
  border: none;
}

.stroke {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* Reset (circle fill) animation */
@-webkit-keyframes resetCircle {
  0% {

  }
  100% {

  }
}
@keyframes resetCircle {
  0% {

  }
  100% {

  }
}
