/* fonts here

color scheme of the app: soft purple */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
  background-image: url();
/*
  parallax scroll:
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  sideways scroll:
 */
}

.sidewaysScroll {

}

body {

}

h1 {

}

h2 {
  font-family: "Titillium Web";
}

p {

}

a {

}

a:hover {

}

.tweb {
  font-family: "Titillium Web";
  text-align: center;
}

.iframe {

}

 /* matchForm.html stylesheet */
 
#matchesInputForm {

}

#matchcontainer {
  display: grid;
  grid-column: 50% 50%;
}

#redcolumn {
  grid-column: 1;
  /* grid-row: 1; */

  border-bottom: none;
  border-left: none;
  border-radius: 5em;
  border-color: red;
}

#bluecolumn {
  grid-column: 2;
  /* grid-row: 1; */

  border-bottom: none;
  border-right: none;
  border-radius: 5em;
  border-color: blue;
}

.redinput {
  border-color: red;
  border-style: solid;
  border-radius: 1em;
  border-width: thick;
  padding: 0.3em;
}

.blueinput {
  border-color: blue;
  border-style: solid;
  border-radius: 1em;
  border-width: thick;
  padding: 0.3em;
}

input:valid {
  background-color: #b7ffb4;
}

input:invalid {
  background-color: #ffb5b5;
}

.allianceinput {
  padding: .5em;
}

.tableheader {
  font-family: "Titillium Web";
}

#submitButton {
  text-align: center;
  width: 65%
  height: 3em;
  font-size: 3em;
  margin: auto auto;

  border-radius: 0.3em;
  border-width: medium;
  border-color: purple;
  border-style: solid;
  background-color: #d79bff;
}

#submitButton:hover {
  border-width: thick;
}

#topform {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 10em;
  border-top-style: solid;
}

#bottomform {
  border-left: none;
  border-right: none;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em;
  border-top-style: double;
  border-bottom-style: solid;
}

#eventcode {
  text-align: center;
  margin: auto auto;

  border-radius: 0.3em;
  border-color: purple;
  border-style: solid;
  padding: 0.3em;
}

 /* end */

.parallax {

}

.formTitle {
  text-align: center;
  margin: auto / auto ;
}

 /* viewSchedule.html */


 /* end */
meter {

}

 /* @media only screen and (max-device-width: 1366px) {
     .parallax {
         background-attachment: scroll;
     } */
