<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Habitat</title>
    <link rel="stylesheet" href="EndGameBlue.css">
</head>

<style>
.flex {
  display:flex;
}
.col1 {
  flex:1;
}
.col2 {
  flex:1;
}
  @font-face {
font-family: deepspacefont;
src: url('nasa.ttf');
}


body, html {
  height: 100%;
  margin: 0;
}

h1 {
color:blue;
text-align: center;
font-family: deepspacefont;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
height: 150px;
width: 200px;
}



form {
color:blue;
font-family: deepspacefont;
width: 100vh;



}


</style>


<body>
  <br><br>
  <div class="title">
    <img src="habitatblue.jpg" class="logo">
    <h1>End Game</h1>
  </div>
  <div class="flex">
    <div class="col1">
    <form action = "/action.page.php">
      <p class="font">Level:</p>
      <input type="radio" class="radio" name="test" id=i2>1<br>
      <input type="radio" class="radio" name="test" id=i2>2<br>
      <input type="radio" class="radio" name="test" id=i2>3
      <p class="font">Assisted?:</p>
      <input type="checkbox" class="largerCheckbox" name="checkBox">
      <p class="font">Was Assisted?</p>
       <input type="checkbox" class="largerCheckbox" name="checkBox"><br>
       </form>

    </div>

    <div class="col2">
      <form action="/action.page.php">
        <p class="font">Fell?</p>
        <input type="checkbox" class="largerCheckbox" name="checkBox"><br>

        </form>
      </div>

      <div class="col3">
        <button id="splashBackButton" onclick="switchPage(false, 'mainPage')">Back to<BR>Main</button><
          <br>
        <button id="splashSubmit" onclick="validateInputs()">SUBMIT<br>BOI</button>
      </div>
</div>


</body>

</html>
