@font-face {
font-family: deepspacefont;
src: url('nasa.ttf');
}

html {
  overflow-x: hidden;
  background-image: url("spacebackground.jpg");
}

h1 {
  color:gray;
  text-align: center;
  font-family: deepspacefont;
  text-align: center;
  flex: 1;
}

.dropdownMenus{
  width: 200px;
  height: 30px;
}



body {
overflow-x: hidden;
}



.col1 {
  align-items: center;
  display: flex;
  overflow-x: hidden;
  padding: 1em;
  color: gray;
  font-family: deepspacefont;
}

.col2{
  align-items: center;
  display: flex;
  overflow-x: hidden;
  padding: 1em;
  color: gray;
  font-family: deepspacefont;
}
.col3{
  align-items: center;
  display: flex;
  overflow-x: hidden;
  padding: 1em;
  color: gray;
  font-family: deepspacefont;
}

.logo {
  align-items: center;
  margin: auto;
  display: block;
}

.title {
  align-items: center;
  width: 100vw;
}

.font {
  font-size: 2.5em;
}

.col4 {
display: flex;
align-items: flex-end;
justify-content: flex-end;
height: 600px;




}




#splashSubmit {
  align-items: end;
  display: flex;
  border-style: solid;
  border-color: ORANGE;
  border-width: 10px;
  background-color: #808080;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  overflow-x: hidden;
  font-family: deepspacefont;
}


:focus{
  outline:none;
}
.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:50px;
  height:50px;
  border-radius:50%;
}
.radio:checked{
  border:20px solid #4099ff;
}
